<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Pay My Buddy - Notes</title>

  <style>
        .breadcrumb {
            box-shadow: 0px 0px #d5d4d4;
            /*background: #eeeded;*/
            background: #f5f5f5;
            border: 0px solid #eeeded;
            border-radius: 0px;
            padding: 0 5px 0 10px !important;
            font-size: 16px;
            line-height:2em;
        }









  </style>

</head>
<body>
<div class="container">

  <div th:insert="menu :: menu"></div>

  <nav class="row" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-capitalize" href="/home"
                                                         th:text="#{word.home}">home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none text-capitalize"
                                                         href="/patient/search"
                                                         th:text="#{word.search}">search</a></li>
      <!-- This is just a form to make sure you go back to the proper patient via the breadcrumb -->
      <form class="breadcrumb-item" action="#" method="get" th:action="@{/patient/search/validate}"
            th:object="${patientDTO}">
        <input th:field="*{family}" th:value="patientDTO.family" hidden>
        <input th:field="*{given}" th:value="patientDTO.given" hidden>
        <input th:field="*{dob}" th:value="patientDTO.dob" hidden>
        <button type="submit" class="btn btn-link text-decoration-none text-capitalize p-0 m-0"
                th:text="#{word.patient}">
          patient
        </button>
      </form>

      <li class="breadcrumb-item active text-capitalize" aria-current="page" th:text="#{word.notes}">notes</li>
    </ol>
  </nav>

  <!-- Major Row for body -->
  <div class="row my-3">

    <!-- Left Card and addings -->
    <div class="col-12 col-lg-3 mb-3 mb-lg-0">

      <!-- Patient card -->
      <div class="row mb-2">
        <div class="col bg-light rounded py-2">
          <div th:insert="card :: notePatientCard"></div>
        </div>
      </div>

      <!-- Add notes form -->
      <div class="row">
        <div class="col">
          <form action="#" method="post" th:action="@{/patient/notes/validate}" th:object="${notes}">
            <input name="patId" th:value="${patId}" hidden>
            <input name="family" th:value="${patientDTO.family}" hidden>
            <input name="given" th:value="${patientDTO.given}" hidden>
            <input name="dob" th:value="${patientDTO.dob}" hidden>
            <input name="gender" th:value="${patientDTO.gender.name}" hidden>
            <label id="notesTitle" class="form-label" th:text="#{patient.notes.add.title}">
              add a note
            </label>
            <textarea class="form-control" aria-label="add notes area" aria-describedby="notesTitle"
                      th:field="*{notes}" th:placeholder="#{patient.notes.add.placeholder}" required></textarea>
            <p class="text-danger" th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></p>
            <div class="mt-2">
              <button type="submit" class="btn btn-success text-capitalize" th:text="#{word.add}">
                add
              </button>
            </div>
          </form>
        </div>
      </div>

    </div>

    <!-- History column -->
    <div class="col-12 col-lg-9">
      <h4 th:text="#{patient.notes.title}">patient's notes</h4>
      <!-- Notes history table module -->
      <div class="row">

        <!-- Table -->
        <div class="table-responsive">
          <table id="notesPage" class="table table-striped">
            <thead>
            <tr class="bg-success text-light">
              <th scope="col"><span class="text-capitalize" th:text="#{word.date}">date</span></th>
              <th scope="col"><span class="text-capitalize" th:text="#{word.notes}">note</span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${pagedNotes.page.empty}">
              <td colspan="2" th:text="#{patient.notes.noNotes}">No notes for this patient</td>
            </tr>
            <tr th:each="notePage : ${pagedNotes.page}">
              <td class="col-2">
                <span th:text="${#temporals.format(notePage.localDateTime, 'yyyy-MM-dd')}">
                    localdatetime
                </span>
              </td>
              <td class="col-10">
                <span class="text-wrap" th:text="${notePage.notes}">
                    notes
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination -->
        <div class="d-flex flex-column align-items-center p-0">

          <nav aria-label="Page navigation" class="paging">
            <ul class="pagination" th:if="${pagedNotes.page.totalPages > 1}">
              <li class="page-item" th:classappend="${!pagedNotes.paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/patient/notes?family=' + ${patientDTO.family} + '&given=' + ${patientDTO.given} + '&dob=' + ${patientDTO.dob} + '&pageNum=' + ${pagedNotes.paging.pageNumber - 1}}"
                   tabindex="-1" aria-label="Next">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>

              <th:block th:each="item : ${pagedNotes.paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == pagedNotes.paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                  <a class="page-link"
                     th:href="@{'/patient/notes?family=' + ${patientDTO.family} + '&given=' + ${patientDTO.given} + '&dob=' + ${patientDTO.dob} + '&pageNum=' + ${item.index}}"
                     th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                  <a class="page-link" href="#">...</a>
                </li>
              </th:block>

              <li class="page-item" th:classappend="${!pagedNotes.paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{/patient/notes?family=' + ${patientDTO.family} + '&given=' + ${patientDTO.given} + '&dob=' + ${patientDTO.dob} + '&pageNum=' + ${pagedNotes.paging.pageNumber + 1}}"
                   aria-label="Next">
                  <span aria-hiden="true">&raquo;</span>
                </a>
              </li>

            </ul>
          </nav>

        </div>

      </div>
    </div>

  </div>

</div>

<div th:insert="footer :: footer"></div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>