<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>DiabeteCare - Find Patient</title>

  <style>
        .breadcrumb {
            box-shadow: 0px 0px #d5d4d4;
            /*background: #eeeded;*/
            background: #f5f5f5;
            border: 0px solid #eeeded;
            border-radius: 0px;
            padding: 0 5px 0 10px !important;
            font-size: 16px;
            line-height:2em;
        }



  </style>

</head>
<body>
<div class="container-fluid px-3">

  <!--That is the menu bar -->
  <div th:insert="menu :: menu"></div>

  <!--That is the bread crumb used in web responsive-->
  <nav class="row" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none" href="/home"
                                                         th:text="#{menu.home}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.search}">Search</li>
    </ol>
  </nav>

  <!--That is the main Body of the page-->
  <div class="row">

    <!--This is blank space on left side-->
    <div class="col-0 col-md-1 col-lg-2">
    </div>

    <!--This is main content in body-->
    <div class="col-12 col-md-10 col-lg-8">
      <div class="row row-cols-xs-3">
        <div class="col d-flex flex-column justify-content-center mb-2 mb-sm-0">
          <h5 class="m-2"><strong th:text="#{search.title}">Search a patient</strong></h5>
        </div>

      </div>

      <div class="row bg-light rounded-3">
        <!-- Form for profile Modification -->
        <form action="#" method="post" th:action="@{/patient/search/validate}" th:object="${patientDTOForSearch}"
              class="p-0 p-md-3">
          <div class="row">
            <div class="col">
              <p class="mt-3 alert alert-info" th:text="#{search.banner}">Type in your patient info to get
                their complete file.</p>
            </div>
          </div>

          <!-- identity form part -->
          <div class="mb-3">
            <label id="identityTitle" class="form-label" th:text="#{search.identityTitle}">Patient's
              identity</label>
            <div class="input-group">
                            <span class="input-group-text" id="labelFirstname"
                                  th:text="#{search.firstname}">Firstname</span>
              <input id="inputFirstname" class="form-control" type="text" th:field="*{given}" name="firstName"
                     aria-label="firstname" aria-describedby="labelFirstname" placeholder="Firstname"
                     th:placeholder="#{search.firstnamePlaceholder}" th:value="${userFirstName}"
                     required>
              <span class="input-group-text" id="labelLastname"
                    th:text="#{search.lastname}">Lastname</span>
              <input id="inputLastname" class="form-control" type="text" th:field="*{family}" name="lastName"
                     aria-label="lastname" aria-describedby="labelLastname" placeholder="Lastname"
                     th:placeholder="#{search.lastnamePlaceholder}" th:value="${userLastName}">
            </div>
            <p class="text-danger" th:if="${#fields.hasErrors('given')}" th:errors="*{given}"></p>
            <p class="text-danger" th:if="${#fields.hasErrors('family')}" th:errors="*{family}"></p>
            <div class="input-group py-2">
                <span class="input-group-text" id="labelBirthdate"
                      th:text="#{search.birthdate}">Birthdate</span>
              <input id="inputBirthdate" class="form-control" type="date" th:field="*{dob}" name="birthdate"
              aria-label="birthdate" aria-describedby="labelBirthdate">
            </div>
          </div>

          <div class="mt-3">
            <button type="submit" class="btn btn-primary" th:text="#{btn.search}">Apply</button>
            <a class="btn btn-secondary" role="button" href="/home" alt="cancel" th:text="#{btn.cancel}">Cancel</a>
          </div>

        </form>
      </div>
    </div>

    <!--This is blank space on right side-->
    <div class="col-0 col-md-1 col-lg-2">
    </div>

  </div>

  <!--That is the Footer of the page-->
  <div th:insert="footer :: footer"></div>

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>