<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Pay My Buddy - SignUp</title>

    <style>
        .breadcrumb {
            box-shadow: 0px 0px #d5d4d4;
            /*background: #eeeded;*/
            background: #f5f5f5;
            border: 0px solid #eeeded;
            border-radius: 0px;
            padding: 0 5px 0 10px !important;
            font-size: 16px;
            line-height:2em;
        }
    </style>

</head>
<body>

    <!-- Email not filled in profile with link to profile -->
    <div class="row" th:if="${userEmail.empty}" th:fragment="nullEmailInProfile">
        <div class="col">
            <div class="alert alert-warning">
                <span th:text="#{warning.noEmailInProfile}">You must set up an email before making any transaction.</span><br>
                <a href="/profile" th:text="#{warning.noEmailInProfile.link}">Go to profile page</a>
            </div>
        </div>
    </div>

    <!-- Email not filled in profile without link-->
    <div class="row" th:if="${userEmail.empty}" th:fragment="nullEmailInProfileNoLink">
        <div class="col">
            <div class="alert alert-warning">
                <span th:text="#{warning.noEmailInProfile}">You must set up an email before making any transaction.</span>
            </div>
        </div>
    </div>

    <!-- Email not filled in profile without link-->
    <div class="row" th:if="${patientNotFound}" th:fragment="patientNotFound">
      <div class="col">
        <div class="alert alert-warning">
          <span th:text="#{warning.patientNotFound}">The patient you are looking for has not been found.</span>
        </div>
      </div>
    </div>

    <!-- already exists patient -->
    <div class="row" th:if="${patientAlreadyExists}" th:fragment="patientAlreadyExists">
      <div class="col">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <span th:text="#{warning.alreadyExistsSentence}">This patient already exists. It has not been added</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <!-- connection add alert -->
    <div class="row" th:if="${param.addConnectionSuccessful}" th:fragment="connectionAddedSuccessful">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span th:text="#{bnr.connectionAdded}">Connection has been added <strong>Successfully</strong> !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- null beneficiary alert -->
    <div class="row" th:if="${param.nullBeneficiary}" th:fragment="selectBeneficiary">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert"><span>
              You must <strong> select a beneficiary</strong> before paying !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- zero amount alert -->
    <div class="row" th:if="${param.zeroAmount}" th:fragment="nonNullAmount">
        <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <span th:text="#{warning.nullAmount}">You must enter a <strong>non null amount</strong> before paying !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- Profile updated successfully -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success}" th:fragment="profileupdated">
      <span th:text="#{bnr.profileUpdSuccess}">Your profile has been updated <strong>Successfully</strong> !</span> 😊
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- password incorrect -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${wrongPass}" th:fragment="incorrPass">
      <span th:text="#{bnr.passIncorr}">Your current password is not correct.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- password mismatch -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${passwordMismatch}" th:fragment="passwordMismatch">
      <span th:text="#{bnr.passwordMismatch}">The password and its confirmation do not match.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- blank new pass -->
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${newPassBlank}" th:fragment="blankPass">
      <span th:text="#{bnr.blankPass}">Your new password is blank.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- email already used -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${emailAlreadyExists}" th:fragment="usedEmail">
        <span th:text="#{bnr.usedEmail}">This email is already used.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- blank mail -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${emailMustNotBeBlank}" th:fragment="blankEmail">
        <span th:text="#{bnr.blankEmail}">You cannot enter a blank email.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- email mismatch -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${emailMismatch}" th:fragment="emailMismatch">
        <span th:text="#{bnr.emailMismatch}">The emails you entered do not match.</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- null contact form email alert -->
    <div class="row" th:if="${param.blankEmail}" th:fragment="contactFormNoEmail">
        <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" >
              <span th:text="#{bnr.contactForm.nullEmail}">You must <strong>enter an email</strong> before posting your contact form !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- null contact form subject alert -->
    <div class="row" th:if="${param.blankSubject}" th:fragment="contactFormNoSubj">
        <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <span th:text="#{bnr.contactForm.nullSubject}">You must fill in a <strong>subject</strong> before posting your contact form !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- null contact form content alert -->
    <div class="row" th:if="${param.blankContent}" th:fragment="contactFormNoNoContent">
        <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <span th:text="#{bnr.contactForm.nullContent}">You must <strong>give us</strong> a little bit of <strong>content</strong> before posting your contact form !</span> 😊
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <!-- warning adding your own email -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${errorOwnEmail}" th:fragment="addOwnEmail">
      <span th:text="#{bnr.addOwnEmail}">You cannot add your own email !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- warning adding inexistant user -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${userInexistant}" th:fragment="inexistantUser">
        <span th:text="#{bnr.addInexistantUser}">The user you are trying to add does not exist !</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- account balance not equal to 0 -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${param.accountBalanceNotZero}" th:fragment="accountBalanceNotZero">
      <span th:text="#{bnr.accountBalanceNotZero}">Your account's balance is not equal to 0 ! Account cannot be deleted.</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Transaction complete -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:fragment="transactionSuccess">
      Transaction complete ! 😊
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- wrong iban -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="wrongIban" th:if="${param.wrongIban}">
      <span th:text="#{bnr.nullIban}">You entered a wrong IBAN !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- wrong swiftCode -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="wrongSwiftCode" th:if="${param.wrongSwiftCode}">
      <span th:text="#{bnr.nullSwiftCode}">You entered a wrong swiftCode !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Too Low Balance -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="balanceTooLow" th:if="${param.balanceTooLow}">
      <span th:text="#{bnr.balanceTooLow}">Your balance is too low to perform this transaction !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- wrong credit card number -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="wrongCreditCardNumber" th:if="${param.wrongCreditCardNumber}">
      <span th:text="#{bnr.wrongCreditCardNumber}">You entered a wrong credit card number !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- wrong Crypto -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="wrongCryptogram" th:if="${param.wrongCryptogram}">
      <span th:text="#{bnr.wrongCryptogram}">You entered a wrong cryptogram !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- wrong Expiration Date -->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:fragment="wrongExpirationDate" th:if="${param.wrongExpirationDate}">
      <span th:text="#{bnr.wrongExpirationDate}">You entered a wrong expiration date !</span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>






    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>