<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Pay My Buddy - SignUp</title>

    <style>
        .breadcrumb {
            box-shadow: 0px 0px #d5d4d4;
            /*background: #eeeded;*/
            background: #f5f5f5;
            border: 0px solid #eeeded;
            border-radius: 0px;
            padding: 0 5px 0 10px !important;
            font-size: 16px;
            line-height:2em;
        }
    </style>

</head>
<body>

    <nav class="row navbar navbar-expand-md" th:fragment="menu">
        <div class="container-fluid">
            <a class="navbar-brand btn btn-success" href="#">DiabeteCare</a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end navbar-light" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home" th:text="#{menu.home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/patient/search" th:text="#{menu.search}">Search</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/patient/update" th:text="#{menu.update}">Update</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <form th:action="@{/logout_perform}" method="post">-->
<!--                            <button class="nav-link btn btn-link" type="submit" value="Logout" th:text="#{menu.logOff}">Log off</button>-->
<!--                        </form>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>